
.settings { margin: 2em; width: 85%; text-align: justify; }

#teamSelectBox {
	display: table;
	font-size: 85%;
	padding: 0 0.5em;
}

#teamSelectBoxRow { display: table-row; }

.teamSelectBoxDivision {
	display: table-cell;
	padding: 1em;
	width: 6em;
}

.teamSelectBoxDivisionName {
	font-weight: bold;
	margin: 0 0 1em 0;
}

.teamSelectBoxDivisionList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#autoRefreshInterval { text-align: right; }
#dateRollOffset { text-align: right; }

#saveMessage { font-size: 85%; margin: 0.5em; }