
#settings { margin: 2em; }

#teamSelectBox {
	display: table;
	font-size: 85%;
	padding: 0 0.5em;
}

#teamSelectBoxRow { display: table-row; }

.teamSelectBoxDivision {
	display: table-cell;
	padding: 1em;
	width: 6em;
}

.teamSelectBoxDivisionName {
	font-weight: bold;
	margin: 0 0 1em 0;
}

.teamSelectBoxDivisionList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}