
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11pt;
	padding: 1em;
}

h1 {
	font-size: 18pt;
	margin: 0;
}

h2 {
	font-size: 14pt;
	margin: 0;
}

h3 {
	font-size: 12pt;
	margin: 0;
}

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#slogan {
	font-size: 80%;
	margin-bottom: 2em;
}

#menu {
	font-size: 80%;
	font-weight: bold;
	position: fixed;
	z-index: 999;
	top: 1em;
	right: 2em;
	border: solid thin black;
	box-shadow: 0px 0px 3px black;
	padding: 0.5em;
	border-radius: 7px;
	-moz-border-radius: 7px;
	background-color: white;
	opacity: 0.5;
}

#menu:hover { opacity: 1.0; }

li.menuItem {
	display: inline;
	list-style-type: none;
	margin: 0 1em;
}

#eventSelector {
	margin: 0 0 2em 0;
}

#gameListWrap {
	display: block;
	overflow: auto;
	background-color: #F0F0F0;
	padding: 0.25em 0.5em 1em 0.5em;
	border: solid thin;
}

#gameListAsOfDate {
	margin: 0.5em;
	padding: 0;
	font-size: 90%;
	font-weight: bold;
}

#gameList {
	margin: 0;
	padding: 0;
}

li.gameBox {
	float: left;
	list-style-type: none;
	border: solid thin;
	margin: 0.5em;
	padding: 0.25em;
	background-color: #D0FFD0;
	font-size: 75%;
	font-weight: bold;
	width: 11.5em;
	cursor: pointer;
}

li.gameBox:hover {
	background-color: #FFFFD0;
}

.gameBoxCheckBox {
	float: left;
	clear: both;
	margin: 0.5em;
}

.gameBoxData { 
	margin: 0.25em;
}

#eventList {
	margin: 0;
	padding: 0;
	display: table;
}

li.event {
	display: table-row;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: inherit;
	width: 90%;
}

li.event:hover {
	background-color: #FFFFD0;
}

.eventTimestamp {
	display: table-cell;
	margin: 0;
	padding: 0.5em 2em 0.5em 0.5em;
	width: 9em;
	font-size: 75%;
	vertical-align: middle;
	text-align: right;
}

.eventScoreboard {
	display: table-cell;
	margin: 0;
	padding: 0.5em 1.5em 0.5em 0.5em;
	width: 6em;
	font-weight: bold;
	vertical-align: middle;
}

.eventScoreboardInning { display: block; font-size: 75%; width: 100%; }
.eventScoreboardOuts { display: inline; }

.eventScoreboardWrap { display: table; width: 80%; }
.eventScoreboardAway { display: table-row; }
.eventScoreboardHome { display: table-row; }

.eventScoreboardTeam {
	display: table-cell;
	width: 3.5em;
	text-align: left;
}

.eventScoreboardScore {
	display: table-cell;
	text-align: right;
}

.scoreChanged { color: red; }

.eventAtBat {
	display: table-cell;
	vertical-align: middle;
	width: 7.5em;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

.eventAtBatWrap { display: table; }
.eventAtBatPosition { display: table-row; }
.eventAtBatThirdOut { color: silver; text-decoration: line-through; }

.eventAtBatLabel {
	display: table-cell;
	text-align: right;
	padding: 0 0.5em 0 0.5em;
	font-size: 75%;
}

.eventAtBatPlayer {
	display: table-cell;
	font-size: 75%;
}

.eventDescription {
	display: table-cell;
	vertical-align: middle;
	padding: 0.5em;
}

.scoringPlay { font-weight: bold; }